*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #02375a;
}

#box{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#top{
    width: 100%;
    min-height: 60vh;
    background-image: url(https://images.unsplash.com/photo-1744977964288-a359e3ca9acc?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDUzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D);
    background-size: cover;
}

.overlay{
     width: 100%;
    min-height: inherit;
    background-color: #00000015;
    position: relative;
}

.text{
    width: 100%;
    padding: 0 8vw;
    display: flex;
    color: #fff;
    position:absolute;
    bottom : 30%;
}

.text h1{
    font-size: 3rem;
    font-weight: 600;
}

.textright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}

 .textright p{
   font-size: 12px;
   padding-left: 10%;
   padding-right: 10%
} 

.textright .icon{
    display: flex;
    font-size: 20px;
    margin-left: 3px;
}

#bottom{
    width: 100%;
    min-height: 40vh;
    display: flex;
}

.box1{
    width: 25%;
    min-height: inherit;
    background-image: url(https://plus.unsplash.com/premium_photo-1671650123234-85096b81babe?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDI0fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D);
    background-size: cover;
}

.box1 h3{
    padding: 2.5vh 2.5vw;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-shadow: 0 0 0.5px #fff;
}
.box1-1{
    width: 100%;
    height: 80%;
    background-color:#9f58f180;
}

.box1-1 p{
    padding-left: 1.5vw;
    padding-top: 5vh;
    font-size: 14px;
    font-weight: 50;
    color:#000;
}

.box2{
    width: 25%;
    min-height: inherit;
    background-image: url(https://images.unsplash.com/photo-1533150783171-ce47d5c2b6ef?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDl8Ym84alFLVGFFMFl8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}

.box3{
    width: 20%;
    min-height: inherit;
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1745276235358-8771fa7eafc5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D);
    background-size: cover;
    background-position: bott;
}

.box3-1{
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 255, 0.36);
}

.box3-1 h3{
    padding: 2.5vh 2.5vw;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-shadow: 0 0 0.5px #fff; 
}

.box3-1 p{
     padding-left: 2.5vw;
    padding-top: 0.5vh;
    font-size: 14px;
    font-weight: 100;
    color:#000;
}

.box4{
    width: 30%;
    min-height: inherit;
    background-image: url(https://images.unsplash.com/photo-1746124310569-64dce183ec38?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDE3fGJvOGpRS1RhRTBZfHxlbnwwfHx8fHw%3D);
    background-size: cover;
}

.box4-1{
    width: 100%;
    height: 100%;
    background-color:#9f58f180;
    padding: 30px;
}

.box4-1 h3{
     padding: 0.1vh 0.5vw;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-shadow: 0 0 0.5px #fff;
}

.notif{
    display: flex;
    justify-content: space-evenly;
     margin-top: 2vw;
}

.notif .photo{
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    background-image: url(https://images.unsplash.com/photo-1743299472561-ae1f1b25f5b5?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDM5fHRvd0paRnNrcEdnfHxlbnwwfHx8fHw%3D);
    background-size: cover;
}

.notif p{
    font-size: 14px;
    font-weight: 100;
    color:#000;
    width: 80%;
}

@media (max-width: 568px) {
    .overlay .text {
        flex-direction: column;
        align-items: flex-start;
       
    }

    .overlay .text .textright{
         flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }

    .overlay .text .textright p{
        margin: 25px 0;
    }

    .overlay .text .textright .icon{
        margin-left: 25PX;
    }

    #bottom{
        flex-direction: column;
        align-items: center;
    }

    .box1, .box2, .box3, .box4{
        margin-top: 20px;
        width: 100%;
        min-height: 30vh;
    }

    .box1-1 p {
        padding: 50px;
    }
}